/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    height: 100%;
}

header {
    background-color: rgba(17, 23, 43, 1);
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
}
a:hover {
    text-decoration: none;
    color: rgba(255, 30, 39, 1);
}
.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom: 1px solid rgba(131, 136, 156, 1);
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    
}

.navbar_group_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}

.navbar_group_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.brand-logo {
    height: 15px;
}

.container-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    margin-right: 50px;
    white-space: nowrap;
} 

.link-navbar-active {
    color: rgba(227, 227, 224, 1);
    border-bottom: 1px solid rgba(255, 30, 39, 1);
    margin-right: 20px;
}

.link-navbar {
    text-decoration: none;
    color: rgba(121, 127, 139, 1);
    padding-right: 20px;
}

.button {
    background-color: rgba(255, 30, 39, 1);
    border-radius: 1px;
    border: 0px;
    height: 25px;
    margin: auto;
}

.destination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100px;
}

.destination-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.destination-title {
    color: rgba(227, 227, 224, 1);
    text-decoration: none;
    font-size: 3rem;
}

.destination-subtitle {
    color: rgba(227, 227, 224, 1);
    white-space: nowrap;
    margin: auto;
}

.double-arrow {
    height: 75px;
    margin: auto;    
}

.double-arrow-top-bottom {
    height: 15px;
    margin: auto;
}

.date-input-destination {
    height: 30px;
    margin: auto;
}
.action-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.action-bar-link {
    color: rgba(227, 227, 224, 1);
    text-decoration: none;
}

.carousel {
    border-bottom: 2px solid rgba(255, 30, 39, 1);
}

.w-100 {
    width: 100% !important;
    height: 60vh;
}

.marketing-ad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
}

.img-ad-card {
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.title-ad-navy {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    color: rgba(17, 23, 43, 1);
}


.marketing-ad-text-over {
    position: relative;
}

.img-ad-champagne {
    z-index: 0;
    width: 100%;
}

.text-ad-2 {
    background-color: rgba(17, 23, 43, 1);
    z-index: 1;
    color: white;
    width: 350px;
    position: absolute;
    top: 110px;
    left: 45px;
}

.title-ad-white {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}

.img-ad-game {
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

footer {
    background-color: rgba(17, 23, 43, 1);
    height: 75px;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

.links-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link-footer {
    color: rgba(121, 127, 139, 1);
}

